extends layout

block content
  div.inner
    section#one.wrapper.style1
      header.special
        h2= error.message 
        h3= error.statusCode
        pre #{error.stack}
        div.button
            a.button(href="/")
                | 다시해보기