extends layout

block content
  h1.text#title Listen to your Book
  <!-- Header -->
  header#header
    div.logo
      a(href="#") Listen to your Book
        span by INFL.VEGGIE

  <!-- Main -->
  section#main
    div.inner
      <!-- One --> 
      section#one.wrapper.style1
        div.image.fit.flush
          img(src="images/books.jpeg" alt="")
        header.special
          h2 이제, 귀로 느끼는 텍스트
          p 책의 한 페이지를 사진으로 찍어 업로드하면<br>텍스트를 추출해 성우 목소리로 낭독해드립니다

        block subcontent
        
        div.content
          <p>Les grandes personnes ne comprennent jamais rien toutes seules, et c'est fatigant, pour les enfants, de toujours et toujours leur donner des explications. Quand on veut un mouton, c'est la preuve qu'on existe. Les hommes ont oublié cette vérité, dit le renard. Mais tu ne dois pas l’oublier. Tu deviens responsable pour toujours de ce que tu as apprivoisé.</p>
          <p>C'est véritablement utile puisque c'est joli. Voici mon secret. Il est très simple: on ne voit bien qu'avec le cœur. L'essentiel est invisible pour les yeux. C'est véritablement utile puisque c'est joli. J'aime bien les couchers de soleil. Allons voir un coucher de soleil... Dessine-moi un mouton!</p>

